.footer {
  width: 100%;
  min-height: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns all items in the middle */
  padding: 0px;
  color: var(--dark); /* Uses global text color */
  font-family: "Azeret Mono", monospace;
  z-index: 99;
  pointer-events: auto; /* Don't block interaction until visible */
  background-color: transparent;
}
.footer .footer-nav h6 {
  margin: 0;
}

/* Left section: Logo + Navigation */
.footer-left {
  display: flex;
  align-items: center; /* Ensures middle alignment */
  padding-left: 35px;
}

.footer-logo {
  height: 24px; /* Adjust as necessary */
  margin-right: 20px;
}

/* Footer navigation */
.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: var(--dark);
  font-size: 14px;
}

.footer-nav a h6 {
  font-size: 14px;
}

.footer-nav a:hover {
  color: var(--primary-brand);
}

/* Right section: Social icons */
.footer-right {
  display: flex;
  align-items: center; /* Ensures middle alignment */
  gap: 15px;
  padding-right: 35px;
}

.footer-right a {
  text-decoration: none;
  font-size: 18px;
  color: var(--dark);
}

.footer-right a:hover {
  color: var(--primary-brand);
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
