.engagement-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.engagement-container .reports-header-with-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.engagement-container .reports-header-with-select select{
  margin-bottom: 16px;
}
.engagement-container .stat-note{
  margin: 12px 0 0 0;
  font-style: italic;
}
.metric-table.outside-table{
  padding: 0;
  border: 0;
  margin: 0 !important;
}
.metric-table{
  border: 1px solid var(--subtle-text);
  border-radius: 8px;
  background: #f1f1f1a6;
  margin-bottom: 24px;
  padding: 12px;  
}
.metric-table table {
  width: 100%;
  border-collapse: collapse;
}
.metric-table.top-spacing {
  margin-top: 20px;
}
.metric-table.three-column th,
.metric-table.three-column td {
  width: 33.33%;
  min-width: 150px;
}
.metric-table.two-column th,
.metric-table.two-column td {
  width: 50%;
  min-width: 150px;
}
.metric-table.four-column th,
.metric-table.four-column td {
  width: 25%;
  min-width: 150px;
}
.metric-table h3 {
  margin: 0 0 16px 0;
  font-size: 17px;
  font-weight: bold;
}
.metric-table th {
  padding: 10px 8px;
  font-weight: semibold;
  font-size: 14px;
  color: var(--dark);
  background-color: var(--secondary-button);
}
.metric-table td {
  padding: 10px 8px;
  font-size: 13px;
  background-color: var(--home-background);
}

.metric-table th,
.metric-table td {
  border: 1px solid var(--subtle-text);
  text-align: left;
}
