.terms-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.8;
    color: var(--dark);
  }
  
  .terms-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .terms-content {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
    color: var(--dark);
  }
  
  .terms-notice {
    border: 2px solid var(--dark);
    padding: 16px;
    margin: 32px 0;
    background-color: #fdfdfd;
    font-size: 0.95rem;
    line-height: 1.6;
    text-transform: uppercase;
  }

  .terms-subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 600;
  }
  
  .terms-list {
    margin-left: 1.5rem;
    list-style-type: disc;
    font-family: 'Azeret Mono', monospace;
    color: var(--dark);
    font-size: .9rem;
  }
  
  .terms-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: .90rem;
    table-layout: auto;
    font-family: 'Azeret Mono', monospace;

  }
  
  .terms-table th,
  .terms-table td {
    border: 1px solid #ddd;
    padding: 1rem;
    vertical-align: top;
    text-align: left;
  }
  
  .terms-table-header {
    font-weight: bold;
    background-color: #f9f9f9;
    width: 30%;
  }
  
  .terms-table-content {
    background-color: #fff;
    width: 70%;
  }
  
  .terms-table tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .terms-table tr:hover {
    background-color: #f1f1f1;
  }
  