.select-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-image-button {
    background: var(--light);
    border: 2px solid var(--dark);
    cursor: pointer;
    font-family: 'Azeret Mono', monospace;
    font-size: 12px;
    padding: 5px 10px;
    box-shadow: 2px 2px 0px rgb(68, 68, 68);
    width: 120px;
}
/* Hides the default file input UI */
.select-image-button input[type="file"] {
    display: none;
}