.wallet-button {
    background-color: var(--cta-pressed); /* Light yellow */
    color: var(--dark); /* Dark text color */
    font-size: 32px;
    font-weight: bold;
    padding: 16px 40px;
    border: 2px solid var(--dark);
    box-shadow: 2px 2px 0px rgb(36, 36, 36);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
  }
  
  .wallet-button::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 10px;
    z-index: -1;
    transition: 0.2s ease-in-out;
  }
  
  .wallet-button:hover::after {
    top: 4px;
    left: 4px;
  }
  